.card .text-input {
  background-color: transparent !important;
  height: 30px !important;
  width: auto !important;
  font-size: 15px !important;
  border: none !important;
  border-bottom: 2px dotted white !important;
  color: white !important;
  display: inline-block !important;
}

.card  .image {
  padding: 20px !important;
}

.text-input:focus {
  background-color: white !important;
  display: inline-block !important;
  color: black !important;
}

.check-input {
  font-size: 15px !important;
}

.card {
  background-color: #1c658c !important;
  border-radius: 20px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  color: white;
}

.card-body {
  padding: 8px !important;
  padding-left: 30px !important;
}

.wrap-to-right {
  padding-left: 40px !important;
}

.input-group-text {
  padding-left: 10px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

div {
  margin-bottom: 5px !important;
}

.card-title {
  padding: 10px !important;
  text-align: center !important;
  font-size: 24px  !important;
  font-weight: 800 !important;
}
